//- <h2><--------- Footer ---------></h2>

//- Footer ---------------------------------------------------------------------------------->

<!-- Contenedor principal del pie de página -->
<footer class="footer">

    <p class="footer-logo">© 2025 Area3.cl</p>

    <ul class="footer-links">

        <li><a href="#about">Términos</a></li>

        <li><a href="#privacy">Políticas</a></li>
        <li><a href="#contact" class="contact-button">Contacto</a></li>

    </ul>

</footer>
 
        script(src='{base}/assets/js/custom/script.js')
//- C:\Users\Non\WebstormProjects\HTML\Certificacion-HTML\assets\js\custom\script.js
</body>  
</html>  