//- Include Local Data --------------------------------------------------------------------->
- const base = ""


//- Include Head   --------------------------------------------------------------------->
include ../includes/head


//- <h2> <------ Homepage -------> </h2>

//- <h1>bienvenido a la wea </h1>
//- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque natus ratione eveniet magni, harum </p>

+example_component_use("Hola", "Mundo")


//- Local Widget Components  --------------------------------------------------------------------->

main 
    h1 ¿Ganas de divertirte?
    p si

//- Local Libs  ---------------------------------------------------------------------------------->



//- Local Configs  ------------------------------------------------------------------------------->



//- Local JS Script ------------------------------------------------------------------------------->
script.
    console.log("Hola Mundo desde Jade/Pug Project 😎")


//- Include Footer  ------------------------------------------------------------------------------>
include ../includes/footer