//- <script>
-

     events.inperson_events.push({
        name: 'Warehouse Sessions',
        type: 'inperson_events',
        category: 'Techno',
        place: "Underground Club",
        date: '12/07/2025',
        start_time: '22:00',
        end_time: '06:00',
        price_from: '25000'
    })

     events.inperson_events.push({
        name: 'Neon Nights',
        type: 'inperson_events',
        category: 'Bass House',
        place: "Rooftop Paradise",
        date: '18/07/2025',
        start_time: '23:00',
        end_time: '05:00',
        price_from: '7000'
    })

     events.inperson_events.push({
        name: 'Bass Overdrive',
        type: 'inperson_events',
        category: 'Hench',
        place: "Industrial Zone",
        date: '20/07/2025',
        start_time: '21:00',
        end_time: '04:00',
        price_from: '115000'
    })

     events.inperson_events.push({
        name: 'Sunset Rave',
        type: 'inperson_events',
        category: 'Drum & Bass',
        place: "Beach Club",
        date: '25/07/2025',
        start_time: '18:00',
        end_time: '02:00',
        price_from: '78500'
    })

     events.inperson_events.push({
        name: 'Electric Storm',
        type: 'inperson_events',
        category: 'Industrial',
        place: "Mega Arena",
        date: '31/07/2025',
        start_time: '20:00',
        end_time: '06:00',
        price_from: '126000'
    })

     events.inperson_events.push({
        name: 'Deep House Vibe',
        type: 'inperson_events',
        category: 'House',
        place: "Secret Location",
        date: '02/08/2025',
        start_time: '22:30',
        end_time: '02:30',
        price_from: '365000'
    })

//- </script>

//- {
//- 	name: 'Warehouse Sessions',
//- 	type: 'inperson_events',
//- 	category: 'Techno',
//- 	place: "Underground Club",
//- 	date: '12/07/2025',
//- 	start_time: '22:00',
//- 	end_time: '06:00',
//- 	price_from: '25000'      
//- }